.sidebar{
    width:var(--aside-width);
    height:420px;
    border-radius:40px;
    background:var(--surface);
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    box-shadow:var(--shadow-blue);
    flex-shrink:0;
}

button{
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:transparent;
    color:var(--text-secondary);
    display:flex;
    align-items:center;
    justify-content:center;
    transition:var(--transition);
    cursor:pointer;
}

button:hover{
    background:rgba(59,130,246,.12);
    color:white;
}

button.active{
    background:var(--primary);
    color:white;
    box-shadow:0 0 20px rgba(59,130,246,.6);
}

.material-icons{
    font-size:26px;
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width:1024px){

    .sidebar{
        width:80px;
        height:380px;
    }

    button{
        width:50px;
        height:50px;
    }

    .material-icons{
        font-size:24px;
    }

}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width:768px){

    .sidebar{
        width:340px;
        height:70px;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:center;
        border-radius:0 0 28px 28px;
        flex-shrink:0;
        margin-top: 0;
    }

    button{
        width:46px;
        height:46px;
    }

    .material-icons{
        font-size:22px;
    }

}