<aside class="sidebar">

    <button routerLink="/home" routerLinkActive="active">
        <span class="material-icons">home</span>
    </button>

    <button routerLink="/skills" routerLinkActive="active">
        <span class="material-icons">code</span>
    </button>

    <button routerLink="/education" routerLinkActive="active">
        <span class="material-icons">school</span>
    </button>

    <button routerLink="/projects" routerLinkActive="active">
        <span class="material-icons">work</span>
    </button>

    <button routerLink="/contact" routerLinkActive="active">
        <span class="material-icons">mail</span>
    </button>

</aside>