<section class="skills">
    <div class="header">
        <h1>
            My <span>Skills</span>
        </h1>
        <p>
            I build complete web applications from frontend to backend,
            while also creating visual identities and multimedia content
            that complement modern digital products.
        </p>
    </div>
    <div class="skills-container">
        <article class="card">
            <h2>Software Development</h2>
            <div class="skills-grid">
                <div class="skill-pill angular">
                    <div class="icon-container">
                        <img src="/angular.webp">
                    </div>
                    <span>Angular</span>
                </div>
                <div class="skill-pill typescript">
                    <div class="icon-container">
                        <img src="/typescript.png">
                    </div>
                    <span>TypeScript</span>
                </div>
                <div class="skill-pill javascript">
                    <div class="icon-container">
                        <img src="/javascript.png">
                    </div>
                    <span>JavaScript</span>
                </div>
                <div class="skill-pill node">
                    <div class="icon-container">
                        <img src="/node.png">
                    </div>
                    <span>Node.js</span>
                </div>
                <div class="skill-pill tailwind">
                    <div class="icon-container">
                        <img src="/tailwind.webp">
                    </div>
                    <span>Tailwind</span>
                </div>
                <div class="skill-pill bootstrap">
                    <div class="icon-container">
                        <img src="bootstrap.webp">
                    </div>
                    <span>Bootstrap</span>
                </div>
                <div class="skill-pill postgresql">
                    <div class="icon-container">
                        <img src="/postgresql.png">
                    </div>
                    <span>PostgreSQL</span>
                </div>
                <div class="skill-pill mongodb">
                    <div class="icon-container">
                        <img src="/mongodb.png">
                    </div>
                    <span>MongoDB</span>
                </div>
                <div class="skill-pill github">
                    <div class="icon-container">
                        <img src="/github.png">
                    </div>
                    <span>GitHub</span>
                </div>
            </div>
        </article>
        <article class="card">
            <h2>Design & Multimedia</h2>
            <div class="skills-grid">
                <div class="skill-pill photoshop">
                    <div class="icon-container">
                        <img src="/photoshop.webp">
                    </div>
                    <span>Photoshop</span>
                </div>
                <div class="skill-pill illustrator">
                    <div class="icon-container">
                        <img src="/illustrator.webp">
                    </div>
                    <span>Illustrator</span>
                </div>
                <div class="skill-pill after-effects">
                    <div class="icon-container">
                        <img src="/after-effects.webp">
                    </div>
                    <span>After Effects</span>
                </div>
                <div class="skill-pill premiere">
                    <div class="icon-container">
                        <img src="/premiere.webp">
                    </div>
                    <span>Premiere Pro</span>
                </div>
                <div class="skill-pill audition">
                    <div class="icon-container">
                        <img src="/audition.webp">
                    </div>
                    <span>Audition</span>
                </div>
                <div class="skill-pill lightroom">
                    <div class="icon-container">
                        <img src="/lightroom.webp">
                    </div>
                    <span>Lightroom</span>
                </div>
                <div class="skill-pill canva">
                    <div class="icon-container">
                        <img src="/canva.png">
                    </div>
                    <span>Canva</span>
                </div>
                <div class="skill-pill creative-cloud">
                    <div class="icon-container">
                        <img src="/creative-cloud.png">
                    </div>
                    <span>Creative Cloud</span>
                </div>
            </div>
        </article>
    </div>
</section>