<section class="home">

    <h1 class="title">
        Bruno Dunay
        <span>Acevedo Rivas</span>
    </h1>
    <h2 class="subtitle">
        Full Stack Developer
    </h2>
    <p class="description">
        I’m a Software Developer passionate about building modern web
        applications, combining frontend engineering, backend
        development and digital design to create complete digital
        solutions.
    </p>

    <div class="buttons">
        <button class="primary">
            View Projects
        </button>
        <button class="secondary">
            <span class="button-content">
                Download CV
            </span>
        </button>
    </div>
</section>